{% extends"padrao.html" %}
{% block conteudo %}
<script>
    function verificarUrgencia(){
        const listaUrgencia =document.getElementById("opcoesUrgencia");
        const blockMotivo = document.getElementById("blocoMotivo");
        if(listaUrgencia.value === 'naourgente'){
            blockMotivo.style.display = 'none';
        }else{
            blockMotivo.style.display = 'block';
        }
    }
</script>

<form method="post" action="/enviaros">       
    <fieldset>
        {{form.csrf_token()}}
        <legend>Abertura OS</legend>
        <div class="mb-3">
        <label>tipo manutencao</label>
        <select id="opcoes" name="opcoes">
            <option value="Corretiva">Corretiva</option>
            <option value="Preditiva">Preditiva</option>
            <option value="Melhoria">Melhoria</option>
          </select>
        </div>
        <div class="mb-3">
            <!-- maquina -->
             {{form.nomeMaquina.label}}
             {{form.nomeMaquina(class="form-control")}}
        </div>
        <div class="mb-3">
            {{form.setor.label}}
            {{form.setor(class="form-control")}}
        </div>
        <div class="mb-3">
            <label for="">nivel urgencia</label>
            <select id="opcoesUrgencia" name="opcoesUrgencia" onchange="verificarUrgencia()">
                <option value="naourgente">Sem urgência</option>
                <option value="deu ruim">deu ruim</option>
                <option value="rapazzzzz">rapazzz</option>
                <option value="vixe">vixe</option>
              </select>
        </div>
        <div id="blocoMotivo" style="display: none">
            <label for="">motivo urgencia</label>
            <input type="text" name="txtMotivoUrgencia" id="txtMotivoUrgencia" class="form-control">
        </div>
        <div class="mb-3">
            <label for="">tipo da manutencao</label>
            <select id="opcoesManutencao" name="opcoesManutencao">
            <option value="Mecanica">Mecanica</option>
            <option value="Eletrica">Eletrica</option>
            <option value="Civil">Civil</option>
        </select>
        </div>
        <div class="mb-3">
            {{form.descricao.label}}
            {{form.descricao(class="form-control")}}
        </div>
        <div class="mb-3">
            {{form.enviar(class="btn btn-primary")}}
        </div>
    </fieldset>
</form>

{% endblock %}