{% extends"padrao.html" %}
{% block conteudo %}


<form method="post" action="/enviaros">       
    <fieldset>
        <legend>Abertura OS</legend>
        <div class="mb-3">
        <label>tipo manutencao</label>
        <select id="opcoes" name="opcoes">
            <option value="Corretiva">Corretiva</option>
            <option value="Preditiva">Preditiva</option>
            <option value="Não sei">Não sei</option>
          </select>
        </div>
        <div class="mb-3">
            <label for="">maquina</label>
            <input type="text" name="txtMaquina" id="txtMaquina" class="form-control">
        </div>
        <div class="mb-3">
            <label for="">setor</label>
            <input type="text" name="txtSetor" id="txtSetor" class="form-control">
        </div>
        <div class="mb-3">
            <label for="">nivel urgencia</label>
            <select id="opcoesUrgencia" name="opcoesUrgencias">
                <option value="deu ruim">deu ruim</option>
                <option value="rapazzzzz">rapazzz</option>
                <option value="vixe">vixe</option>
              </select>
        </div>
        <div class="mb-3">
            <label for="">motivel urgencia</label>
            <input type="text" name="txtMotivoUrgencia" id="txtMotivoUrgencia" class="form-control">
        </div>
        <div class="mb-3">
            <label for="">tipo da manutencao</label>
            <select id="opcoesManutencao" name="opcoesManutencao">
            <option value="Mecanica">Mecanica</option>
            <option value="Eletrica">Eletrica</option>
            <option value="Civil">Civil</option>
        </select>
        </div>
        <div class="mb-3">
          <label for="comentarios">descricao do problema</label>
            <textarea id="descricao" name="descricao" rows="4" cols="50" class="form-control">
            </textarea>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">cadastrar</button> 
        </div>
    </fieldset>
</form>
{% endblock %}